<!DOCTYPE html>
<html>
<head>
    <title>Resultado</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body>

    <div class="caja">
        <div class="cancha">🏆 ⚽ 🏟️</div>

        <h1>Juego terminado</h1>

        <p>Tu puntaje final es: {{ puntaje }} de {{ total }}</p>
        <p>Porcentaje: {{ porcentaje }}%</p>

        <h2>{{ mensaje }}</h2>

        <a href="/">
            <button>Volver a jugar</button>
        </a>
    </div>

</body>
</html>
